(1) Í∞ïÏÇ¨

 - Î∞ïÏßÄÌôò

(2) Ïù¥Î†•

- Ï†úÏ°∞, Í∏àÏúµ, Ïú†ÌÜµ Îã§ÏñëÌïú ÏÇ∞ÏóÖÍµ∞ÏóêÏÑú Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÍ∞ÄÎ°úÏÑú ÌôúÎèô

(3) Í∞ïÏùò ÎÇ¥Ïö©

- ‚ë† Í∞ÄÏÉÅ ÏãúÎÇòÎ¶¨Ïò§ Î∞è Îç∞Ïù¥ÌÑ∞ ÌòÑÌô© 
- ‚ë° Î¨∏Ï†úÌï¥Í≤∞ÌîÑÎ°úÏÑ∏Ïä§ Ï†ïÏùò 
- ‚ë¢ Session1~3(Î¨∏Ï†úÌï¥Í≤∞)

(4) Í∞ïÏùò Î™©Ï†Å

- "ÌòÑÏóÖÏóêÏÑúÎäî Ïñ¥ÎñªÍ≤å Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÏùÑ ÏàòÌñâÌïòÍ≥†, Ïñ¥ÎñªÍ≤å Í≤∞Í≥ºÎ¨ºÏùÑ ÎßåÎì§Ïñ¥ ÎÇºÍπå?"

# Chapter 01

## ‚îó ÏÑºÏÑú Îç∞Ïù¥ÌÑ∞ ÌôúÏö© Ïû•ÎπÑ Ïù¥ÏÉÅÏßÑÎã® Î∞è ÏòàÏ∏°

### Î™©Ï∞®(Context)

- Î¨∏Ï†úÏÉÅÌô© Î∞è Îç∞Ïù¥ÌÑ∞ ÏÇ¥Ìé¥Î≥¥Í∏∞
- Î¨∏Ï†úÌï¥Í≤∞ ÌîÑÎ°úÏÑ∏Ïä§ Ï†ïÏùò
- ü•âSession 1 - „ÄåÏù¥ÏÉÅ(abnormal) Ï†ïÏùò Î∞è Îç∞Ïù¥ÌÑ∞ EDA„Äç
- ü•àSession 2 - „ÄåRule base Ïù¥ÏÉÅÏßÑÎã®„Äç
- ü•áSession 3 - „ÄåML ÌôúÏö© Ïù¥ÏÉÅÏßÑÎã® Î∞è ÏòàÏ∏°„Äç

In [5]:
# ‚ñ∂ Warnings Ï†úÍ±∞
import warnings
warnings.filterwarnings('ignore')

## **Î¨∏Ï†úÏÉÅÌô© Î∞è Îç∞Ïù¥ÌÑ∞ ÏÇ¥Ìé¥Î≥¥Í∏∞**
---
> **ÏãúÎÇòÎ¶¨Ïò§** üë∑ (Ï†úÌíàÏÑ§Í≥ÑÏûê, Ïû•ÎπÑ Ïò§ÌçºÎ†àÏù¥ÌÑ∞)

```
AÍ≥µÏû•ÏóêÏÑúÎäî ÏµúÍ∑º ÎèÑÏûÖÌïú Ïû•ÎπÑÎ°ú Ïù∏ÌïòÏó¨ Í≥®ÏπòÎ•º Ïç©Í≥† ÏûàÎã§. ÏÉàÎ°ú ÎèÑÏûÖÌïú Ïû•ÎπÑÏùò ÏßÄÏÜçÏ†ÅÏù∏ Í≥†Ïû•ÏúºÎ°ú Ïù∏ÌïòÏó¨ ÏÉùÏÇ∞ Ïä§ÏºÄÏ§ÑÏùÑ ÏßÄÏó∞ÎêòÍ≥†  
ÏûàÍ∏∞ ÎïåÎ¨∏Ïù¥Îã§. Ìï¥Îãπ Ïû•ÎπÑÏùò ÌäπÏÑ±ÏÉÅ Ìïú Î≤à Í≥†Ïû•Ïù¥ ÎÇòÎ©¥ ÎùºÏù∏ Ï†ÑÏ≤¥Î•º Stop ÏãúÏºúÏïº ÌïòÎØÄÎ°ú Í≥µÏ†ï ProcessÏóêÏÑú Bottleneck Íµ¨Í∞ÑÏù¥Îã§.  
Í≥†Ïû•Ïù¥ ÎÇòÎ©¥ Í≥µÏ†ïÏÉÅ ÎßâÎåÄÌïú ÏÜêÌï¥Ïù¥Í∏∞ ÎïåÎ¨∏Ïóê Í≥†Ïû•Ïù¥ ÎÇòÍ∏∞ Ï†Ñ ÏÇ¨Ï†Ñ Ïù¥ÏÉÅÏßïÌõÑÎ•º Ìè¨Ï∞©ÌïòÍ≥† Ï†êÍ≤ÄÏùÑ ÌÜµÌï¥ Í≥†Ïû•Ïù¥ Î∞úÏÉùÌïòÏó¨ ÎØ∏ÏπòÎäî
ÏÜêÏã§ÏùÑ Ï§ÑÏù¥Í≥†Ïûê ÌïúÎã§.

> **Îç∞Ïù¥ÌÑ∞ ÏÇ¥Ìé¥Î≥¥Í∏∞**

* Ïû•ÎπÑÏùò Ïù¥ÏÉÅÏßïÌõÑÎ•º Ìè¨Ï∞©ÌïòÍ∏∞ ÏúÑÌï¥ Ïû•ÎπÑÏùò ÌäπÏ†ï ÏúÑÏπòÏùò Ï∂©Îèå ÏÑºÏÑú 4Í∞ú(S1~S4)Î•º ÏÑ§ÏπòÌïòÏòÄÎã§.
* ÏÑºÏÑú ÌäπÏ†ï ÏúÑÏπòÏóê Ï∂©ÎèåÏù¥ ÏùºÏñ¥ÎÇòÎ©¥ ÏµúÏ¢ÖÏ†ÅÏúºÎ°ú Ï∂©Îèå ÎãπÏãúÏùò M(ÏßàÎüâ)Í≥º V(ÏÜçÎèÑ)Í∞Ä Í∏∞Î°ùÎêúÎã§.
* Ïû•ÎπÑÏóê ÌäπÏ†ï Ïù¥ÏÉÅÏùò Ï∂©Í≤©(M*V)Ïù¥ Í∞ÄÌï¥ÏßÄÎ©¥ Ïû•ÎπÑÎäî Ï†ïÏßÄÌïòÍ≤å ÎêúÎã§.

In [13]:
# ‚ñ∂ Data read
import pandas as pd
#Î∂àÎü¨Ïò¨ csvÌååÏùºÏùÑ .ipynbÌååÏùºÍ≥º Í∞ôÏùÄ Ìè¥ÎçîÏóê Ï†ÄÏû•ÌõÑ csvÌååÏùº Î∂àÎü¨Ïò§Í∏∞
df_features = pd.read_csv('chapter01_abnormal_features.csv')
df_target = pd.read_csv('chapter01_abnormal_target.csv')

In [72]:
#ÎÇú headÎÇò tailÎ≥¥Îã§Îäî Í∑∏ÎÉ• Ïì∞ÎäîÍ±∏ Ï¢ãÏïÑÌïúÎã§ Î°úÏö∞ÏôÄ Ïª¨ÎüºÏàòÎèÑ Î≥¥Ïó¨Ï£ºÍ∏∞ÎïåÎ¨∏Ïóê
df_features

           id      Time         S1        S2         S3         S4
0           0  0.000000       0.00       0.0       0.00       0.00
1           0  0.000004       0.00       0.0       0.00       0.00
2           0  0.000008       0.00       0.0       0.00       0.00
3           0  0.000012       0.00       0.0       0.00       0.00
4           0  0.000016       0.00       0.0       0.00       0.00
...       ...       ...        ...       ...        ...        ...
1049995  2799  0.001480  -89256.32 -164614.6   48186.29 -147910.20
1049996  2799  0.001484  -29233.44 -179404.2  109534.40 -111591.10
1049997  2799  0.001488   37147.25 -190011.7  178781.10  -86836.78
1049998  2799  0.001492   98278.50 -190771.4  245726.70  -75660.00
1049999  2799  0.001496  151683.00 -177267.3  307932.80  -72835.82

[1050000 rows x 6 columns]

In [74]:
#ÎÇú headÎÇò tailÎ≥¥Îã§Îäî Í∑∏ÎÉ• Ïì∞ÎäîÍ±∏ Ï¢ãÏïÑÌïúÎã§ Î°úÏö∞ÏôÄ Ïª¨ÎüºÏàòÎèÑ Î≥¥Ïó¨Ï£ºÍ∏∞ÎïåÎ¨∏Ïóê
df_target

        id      X      Y      M    V
0        0    0.0 -400.0   50.0  0.4
1        1  400.0    0.0  100.0  1.0
2        2 -300.0 -200.0   25.0  0.4
3        3  200.0 -100.0  150.0  0.4
4        4 -300.0 -100.0  150.0  0.4
...    ...    ...    ...    ...  ...
2795  2795  200.0  200.0   50.0  1.0
2796  2796 -400.0 -400.0  150.0  0.2
2797  2797 -100.0    0.0   50.0  0.2
2798  2798  100.0  100.0  125.0  0.6
2799  2799  100.0 -200.0  100.0  0.6

[2800 rows x 5 columns]

* df_features Data setÏóêÎäî 'Time' ÏãúÍ∞Ñ Î≥Ñ ÏÑºÏÑúÏóêÏÑú ÏàòÏßëÎêòÍ≥† ÏûàÎäî S1~S4 Í∞íÏù¥ ÏàòÏßëÎêúÎã§.
* df_targetÏóêÎäî Ïû•ÎπÑÏóê ÏµúÏ¢ÖÏ†ÅÏúºÎ°ú Ï†ÑÎã¨Îêú M(ÏßàÎüâ)Í≥º ÏÜçÎèÑ(V)Í∞Ä Í∏∞Î°ùÎêòÏñ¥ ÏûàÎã§.

## **Î¨∏Ï†úÌï¥Í≤∞ ÌîÑÎ°úÏÑ∏Ïä§ Ï†ïÏùò**
---
> **Î¨∏Ï†úÏ†ïÏùò**

```
‚ñ∂ ÏÑ§ÎπÑ Í≥†Ïû•ÏúºÎ°ú Ïù∏Ìïú Line stop, ÏÉùÏÇ∞ Ïä§ÏºÄÏ§Ñ ÏßÄÏó∞, Îß§Ï∂úÍ∞êÏÜå, ÏòÅÏóÖÏù¥Ïùµ Í∞êÏÜå
```  

> **Í∏∞ÎåÄÌö®Í≥º**

```
‚ñ∂ ÏÇ¨Ï†Ñ Ïù¥ÏÉÅÏßïÌõÑ Í∞êÏßÄ Î∞è Ï†êÍ≤ÄÏùÑ ÌÜµÌï¥ Í≥†Ïû•ÏúºÎ°ú Ïù∏Ìïú Line stop Í∞êÏÜå, ÏÉùÏÇ∞ Ïä§ÏºÄÏ§Ñ Ï†ïÏÉÅÌôî
```

> **Ìï¥Í≤∞Î∞©Ïïà**

```
‚ñ∂ Îç∞Ïù¥ÌÑ∞ Í∏∞Î∞òÏúºÎ°ú Ïù¥ÏÉÅÏßïÌõÑÎ•º Ï†ïÏùòÌïòÍ≥†, ÏÑºÏÑú Îç∞Ïù¥ÌÑ∞ Î™®ÎãàÌÑ∞ÎßÅÏùÑ ÌÜµÌï¥ Ïù¥ÏÉÅÏßïÌõÑ Ìè¨Ï∞© Î∞è Ïã§ÏãúÍ∞Ñ Ï†êÍ≤Ä
‚ñ∂ Session 1 ü•â
 - Í≥†Ïû•Ïù¥ Î∞úÏÉùÌïòÍ∏∞ Ï†Ñ Ïù¥ÏÉÅ Ï¶ùÏÉÅÏóê ÎåÄÌïú Ï†ïÏùò  
‚ñ∂ Session 2 ü•à
 - ÌòÑÏóÖÏùò ÎÖ∏ÌïòÏö∞, Í≤ΩÌóòÏ†Å ÏßÄÏãùÏóê Í∏∞Î∞òÌïú Rule base Ïù¥ÏÉÅÏßÑÎã®
‚ñ∂ Session 3 ü•á
 - Î™®Îç∏ÎßÅÏùÑ ÌÜµÌïú Ïù¥ÏÉÅ Ï¶ùÏÉÅ ÏòàÏ∏° 

```

> **ÏÑ±Í≥ºÏ∏°Ï†ï**  

```
‚ñ∂ Ïù¥ÏÉÅÏßïÌõÑ Î™®ÎãàÌÑ∞ÎßÅ Ï†Ñ/ÌõÑ Ï†úÌíà ÏÉùÏÇ∞Îüâ, Line stop ÌöüÏàò ÎπÑÍµê
```

> **ÌòÑÏóÖÏ†ÅÏö©**  

```
‚ñ∂ Ïã§ÏãúÍ∞Ñ ÏÑºÏÑú Îç∞Ïù¥ÌÑ∞ ÏàòÏßë Î∞è DB Ï†ÅÏû¨ ÏãúÏä§ÌÖú Íµ¨Ï∂ï  
‚ñ∂ ServerÏóê Îç∞Ïù¥ÌÑ∞ Î™®Îç∏ ÌÉëÏû¨ Î∞è ÌäπÏ†ï ÏãúÍ∞Ñ Îã®ÏúÑ Ïã§Ìñâ Î∞è Í≤∞Í≥º Ï†ÄÏû•  
‚ñ∂ Í≤∞Í≥º Îç∞Ïù¥ÌÑ∞ ÎåÄÏãúÎ≥¥Îìú Î∞è BI ÏãúÏä§ÌÖúÏóê Ï∂úÎ†• Î∞è Î™®ÎãàÌÑ∞ÎßÅ
```

> **Ï£ºÏöî ÏΩîÎìú ÎØ∏Î¶¨ ÏÇ¥Ìé¥Î≥¥Í∏∞**  

```
‚ñ∂ session 1 ‚Üí unique(), value_counts()
‚ñ∂ session 2 ‚Üí sns.scatterplot(), plt.axhline(), np.where
‚ñ∂ session 3 ‚Üí RandomForestClassifier, classification_report, GridSearchCV
```