(1) 강사

 - 박지환

(2) 이력

- 제조, 금융, 유통 다양한 산업군에서 데이터 분석가로서 활동

(3) 강의 내용

- ① 가상 시나리오 및 데이터 현황 
- ② 문제해결프로세스 정의 
- ③ Session1~3(문제해결)

(4) 강의 목적

- "현업에서는 어떻게 데이터 분석을 수행하고, 어떻게 결과물을 만들어 낼까?"

# Chapter 01

## ┗ 센서 데이터 활용 장비 이상진단 및 예측

### 목차(Context)

- 문제상황 및 데이터 살펴보기
- 문제해결 프로세스 정의
- 🥉Session 1 - 「이상(abnormal) 정의 및 데이터 EDA」
- 🥈Session 2 - 「Rule base 이상진단」
- 🥇Session 3 - 「ML 활용 이상진단 및 예측」

In [5]:
# ▶ Warnings 제거
import warnings
warnings.filterwarnings('ignore')

## **문제상황 및 데이터 살펴보기**
---
> **시나리오** 👷 (제품설계자, 장비 오퍼레이터)

```
A공장에서는 최근 도입한 장비로 인하여 골치를 썩고 있다. 새로 도입한 장비의 지속적인 고장으로 인하여 생산 스케줄을 지연되고  
있기 때문이다. 해당 장비의 특성상 한 번 고장이 나면 라인 전체를 Stop 시켜야 하므로 공정 Process에서 Bottleneck 구간이다.  
고장이 나면 공정상 막대한 손해이기 때문에 고장이 나기 전 사전 이상징후를 포착하고 점검을 통해 고장이 발생하여 미치는
손실을 줄이고자 한다.

> **데이터 살펴보기**

* 장비의 이상징후를 포착하기 위해 장비의 특정 위치의 충돌 센서 4개(S1~S4)를 설치하였다.
* 센서 특정 위치에 충돌이 일어나면 최종적으로 충돌 당시의 M(질량)과 V(속도)가 기록된다.
* 장비에 특정 이상의 충격(M*V)이 가해지면 장비는 정지하게 된다.

In [13]:
# ▶ Data read
import pandas as pd
#불러올 csv파일을 .ipynb파일과 같은 폴더에 저장후 csv파일 불러오기
df_features = pd.read_csv('chapter01_abnormal_features.csv')
df_target = pd.read_csv('chapter01_abnormal_target.csv')

In [72]:
#난 head나 tail보다는 그냥 쓰는걸 좋아한다 로우와 컬럼수도 보여주기때문에
df_features

           id      Time         S1        S2         S3         S4
0           0  0.000000       0.00       0.0       0.00       0.00
1           0  0.000004       0.00       0.0       0.00       0.00
2           0  0.000008       0.00       0.0       0.00       0.00
3           0  0.000012       0.00       0.0       0.00       0.00
4           0  0.000016       0.00       0.0       0.00       0.00
...       ...       ...        ...       ...        ...        ...
1049995  2799  0.001480  -89256.32 -164614.6   48186.29 -147910.20
1049996  2799  0.001484  -29233.44 -179404.2  109534.40 -111591.10
1049997  2799  0.001488   37147.25 -190011.7  178781.10  -86836.78
1049998  2799  0.001492   98278.50 -190771.4  245726.70  -75660.00
1049999  2799  0.001496  151683.00 -177267.3  307932.80  -72835.82

[1050000 rows x 6 columns]

In [74]:
#난 head나 tail보다는 그냥 쓰는걸 좋아한다 로우와 컬럼수도 보여주기때문에
df_target

        id      X      Y      M    V
0        0    0.0 -400.0   50.0  0.4
1        1  400.0    0.0  100.0  1.0
2        2 -300.0 -200.0   25.0  0.4
3        3  200.0 -100.0  150.0  0.4
4        4 -300.0 -100.0  150.0  0.4
...    ...    ...    ...    ...  ...
2795  2795  200.0  200.0   50.0  1.0
2796  2796 -400.0 -400.0  150.0  0.2
2797  2797 -100.0    0.0   50.0  0.2
2798  2798  100.0  100.0  125.0  0.6
2799  2799  100.0 -200.0  100.0  0.6

[2800 rows x 5 columns]

* df_features Data set에는 'Time' 시간 별 센서에서 수집되고 있는 S1~S4 값이 수집된다.
* df_target에는 장비에 최종적으로 전달된 M(질량)과 속도(V)가 기록되어 있다.

## **문제해결 프로세스 정의**
---
> **문제정의**

```
▶ 설비 고장으로 인한 Line stop, 생산 스케줄 지연, 매출감소, 영업이익 감소
```  

> **기대효과**

```
▶ 사전 이상징후 감지 및 점검을 통해 고장으로 인한 Line stop 감소, 생산 스케줄 정상화
```

> **해결방안**

```
▶ 데이터 기반으로 이상징후를 정의하고, 센서 데이터 모니터링을 통해 이상징후 포착 및 실시간 점검
▶ Session 1 🥉
 - 고장이 발생하기 전 이상 증상에 대한 정의  
▶ Session 2 🥈
 - 현업의 노하우, 경험적 지식에 기반한 Rule base 이상진단
▶ Session 3 🥇
 - 모델링을 통한 이상 증상 예측 

```

> **성과측정**  

```
▶ 이상징후 모니터링 전/후 제품 생산량, Line stop 횟수 비교
```

> **현업적용**  

```
▶ 실시간 센서 데이터 수집 및 DB 적재 시스템 구축  
▶ Server에 데이터 모델 탑재 및 특정 시간 단위 실행 및 결과 저장  
▶ 결과 데이터 대시보드 및 BI 시스템에 출력 및 모니터링
```

> **주요 코드 미리 살펴보기**  

```
▶ session 1 → unique(), value_counts()
▶ session 2 → sns.scatterplot(), plt.axhline(), np.where
▶ session 3 → RandomForestClassifier, classification_report, GridSearchCV
```